Repository kinorai/prompt-keeper, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, dependencies, configuration, test, security

chore: bump version to 0.5.0
  package.json
Labels: dependencies

feat: remove highlight search query
  src/__tests__/api/search/route.test.ts
  src/app/api/search/route.ts
  src/app/page.tsx
  src/components/search/conversation-card.tsx
Labels: frontend, test

feat: order fuzzy by score
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/commit-lint.sh
  src/app/api/search/route.ts
  src/app/page.tsx
Labels: frontend, configuration

refactor: commitlint with new cli
  .github/workflows/ci.yml
  commitlint.config.js
  package-lock.json
  package.json
Labels: dependencies, configuration

ci: refacto ci with lint test build jobs
  .github/workflows/ci.yml
Labels: configuration

feat: order fuzzy by score
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/commit-lint.sh
  src/app/api/search/route.ts
  src/app/page.tsx
Labels: frontend, configuration

ci: refacto ci with lint test build jobs
  .github/workflows/ci.yml
Labels: configuration

refactor: commitlint with new cli
  .github/workflows/ci.yml
  commitlint.config.js
  package-lock.json
  package.json
Labels: dependencies, configuration

feat: remove highlight search query
  src/__tests__/api/search/route.test.ts
  src/app/api/search/route.ts
  src/app/page.tsx
  src/components/search/conversation-card.tsx
Labels: frontend, test

chore: bump version to 0.6.0
  package.json
Labels: dependencies

ci: check ci cache before install dependencies
  .github/workflows/ci.yml
Labels: configuration

ci: enable multi platform arm amd docker publish
  .github/workflows/docker-publish.yml
  commitlint.config.js
  package-lock.json
  package.json
Labels: dependencies, configuration

ci: enable multi platform arm amd docker publish
  .github/workflows/docker-publish.yml
  commitlint.config.js
  package-lock.json
  package.json
Labels: dependencies, configuration

ci: check ci cache before install dependencies
  .github/workflows/ci.yml
Labels: configuration

chore: bump version to 0.7.0
  package.json
Labels: dependencies

ci: google release conventional commit | docker multi platform optimize without qemu
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  Dockerfile
Labels: configuration

ci: google release conventional commit | docker multi platform optimize without qemu
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  Dockerfile
Labels: configuration

chore: bump version to 0.8.0
  package.json
Labels: dependencies

ci: fix docker publish platform arm exec format error
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  Dockerfile
Labels: configuration

ci: refacto docker build and push with arm runner
  .github/workflows/community.yml
  .github/workflows/docker-publish.yml
Labels: configuration

.github/labeler.yml:

# Add 'frontend' label to any changes in frontend files
frontend:
  - src/**/*.tsx
  - src/**/*.ts
  - src/app/**/*
  - src/components/**/*
  - src/styles/**/*
  - src/**/*.css

# Add 'backend' label to any change in backend files
backend:
  - src/api/**/*
  - src/lib/**/*
  - src/server/**/*

# Add 'documentation' label to any change in documentation
documentation:
  - '**/*.md'
  - docs/**/*

# Add 'dependencies' label to any change in package files
dependencies:
  - package.json
  - package-lock.json
  - yarn.lock
  - pnpm-lock.yaml

# Add 'configuration' label to any change in config files
configuration:
  - '*.config.js'
  - '*.config.ts'
  - .env.example
  - .github/**/*
  - next.config.*
  - tsconfig.json

# Add 'test' label to any change in test files
test:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - src/__tests__/**/*

# Add 'security' label to any change in security-related files
security:
  - '**/security/**/*'
  - '**/auth/**/*'
  - src/middleware.ts
